body {
    font-family: chloe;
    margin: 0;
    padding: 0;
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.left-side {
    display: flex;
    align-items: center;
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    max-width: 300px;
    margin: 0 auto; /* لوضع المحتوى في الوسط */
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

.input-container {
    position: relative;
    margin-bottom: 20px; /* زيادة المسافة بين الحقول */
}

.input-container i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #ccc;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 30px;
}

#login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-top: 10px; /* زيادة المسافة بين زر الدخول وحقل كلمة المرور */
}

#login-button:hover {
    opacity: 0.8;
}