@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 2rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
	
}
.section-title {
	font-size:25px;
	color:#40AB4A ;
	text-shadow: 
         1px  1px 0 #000;
	margin-bottom: 10px;
	text-align: center;
}



.brand h1 {
	font-size: 3rem;
	color: rgb(0, 0, 0);

}


/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(0, 0, 0, 0.24);
	transition: 0.3s ease ;
}


#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: #E0EDF3 ;
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	padding: 20px;
	display: block;
}

#header .nav-list ul li:hover a {
	color:#58b153;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid rgb(255, 255, 255);
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid #58b153;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: #58b153;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: #58b153;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}

/* End Header section */

/* Hero Section */

#hero {
	background-image: url('https://tourismmedia.italia.it/is/image/mitur/landscape_1-100-1?wid=2880&hei=1280&fit=constrain,1&fmt=webp');
	background-size: cover;
	background-position: top center;
	position: relative;
}



#hero h3 {
	
	color:#58b153 ;
	text-shadow: 
         1px  1px 0 #000;
	font-size: 40px;
	text-align: center;
}

/* End Hero Section */

/* Services Section */

*{
	margin: 0;padding: 0;
    box-sizing: border-box;
	font-family: chloe;
}
    
#services{
	margin: 0;
	background-color: #ffffff;
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
  }
  #services figure{
	position:relative;
	 height: 250px;
	 cursor: pointer;
	 width: 350px;
	 overflow: hidden;
	 border-radius: 6px;
	 box-shadow: 0px 15px 25px rgba(37, 38, 37, 0.5);
}

#services .service-item {

	margin: 5px;
	max-width: 225px;
	min-width: 100px;
	flex: 1 1 auto;
	
  }
  #services .service-item{

	overflow: hidden;
  }
#services img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 400ms ease-out;
	will-change: transform;
}

#services .service-item:hover img{
	transform: scale(1.3);
}
#services .p-of-title{
	color: black;
	text-align: center;
	font-size: 22px;

}


/* End Services Section */

/* Projects section */
#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}


#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-color: rgba(16, 17, 17, 0.159); /* الأسود الشفاف بنسبة 50% */
    color: #000000; /* اللون الأبيض للنص */
}
#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
	font-family: Chloe;
	margin-bottom: 50px;

}
#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
	font-family: Chloe;

}
#projects .project-info p {
	color: rgb(0, 0, 0);
	font-family: Chloe;

}
#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(239, 239, 239, 0.229);
	opacity: 0.7;
}
#projects .project-img img {
	transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}
/* End Projects section */

/* About Section */


#about  h2 {
	font-size: 2rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#about  p {
	margin-bottom: 20px;
}
#about  .cta {
	color: rgb(0, 0, 0);
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 15px;
	border: 2px solid rgb(0, 0, 0);


}
#about .cta:hover{
	background-color:#58b153

}


/* End About Section */

/* contact Section */

/*End contact Section */

/* Footer */
#footer {
background-color: #E0EDF3;
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: chloe;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
	font-family: chloe;

}
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: rgb(0, 0, 0);
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 15px;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
		font-family: chloe;

	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
		font-family: chloe;

	}
	/* End Hero */

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* End Project */

	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 2px solid rgb(0, 0, 0);
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

	/* contact  */
	
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}


/* End  Media Query For Desktop */